<span (click)="onChange()">
  {{ title }}
  <input type="hidden" [formControl]="fc" />
  <app-arrow-sort-item
    class="small-icon slds-p-left_xx-small"
    [ngClass]="{ active: fc.value === 'DESC' || !fc.value }"
  ></app-arrow-sort-item>
  <app-arrow-sort-item
    class="rotate small-icon slds-p-left_xx-small"
    [ngClass]="{ active: fc.value === 'ASC' }"
  ></app-arrow-sort-item>
</span>
