.tile {
  position: relative;
  padding-bottom: 80%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    text-align: center;
    background-color: rgba(#000, .9);
    transition: .2s ease-out 0s;
    transition-property: visibility, opacity;
    will-change: visibility, opacity;
    cursor: pointer;

    .tile:hover & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
  }

  &__button {
    margin-top: 12px;
  }
}
