<!--
  if there is the cors, we can use
  [style.backgroundImage]="(environment.api.origin + '/' + imageSRC) | objectUrlImageExtractor: true | async"
-->

<div class="tile" [style.backgroundImage]="'url(assets/images/game.jpg)'">
  <div class="tile__hover">
    <h3 class="tile__title">{{ title }}</h3>
    <div class="tile__button">
      <div class="button button_small">Play</div>
    </div>
  </div>
</div>
