<ul class="list">
  <li
    class="list__item"
    *ngFor="
      let game of currentGamesList
        | paginate: { itemsPerPage: perPage, currentPage: currentPage }
    "
  >
    <games-tile [title]="game.Name.en" [imageSRC]="game.Image"></games-tile>
  </li>
</ul>

<div class="pagination">
  <pagination-controls
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</div>
