.list {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;

    &:nth-last-child(n + 6) {
      margin-bottom: 30px;
    }
  }
}

.pagination {
  margin-top: 50px;
}
