<div class="filter">
  <ng-container *ngFor="let mainField of mainFields">
    <filters-dynamic-field
      *ngIf="
        mainField.type === dynamicFilterFieldType.SELECT;
        else noSelectField
      "
      [class]="mainField.class ? mainField.class : 'col col_middle'"
      [field]="mainField"
      (openSelectField)="onOpen(mainField)"
    ></filters-dynamic-field>
    <ng-template #noSelectField>
      <div [ngClass]="['col', mainField.class ? mainField.class : '']">
        <filters-dynamic-field [field]="mainField"></filters-dynamic-field>
      </div>
    </ng-template>
  </ng-container>
  <div class="col" *ngIf="secondaryFields && secondaryFields.length">
    <div ngDropdown>
      <button class="button button_small" ngDropdownControl>
        {{ 'Фильтр' }}
      </button>

      <div ngDropdownContent [ngStyle]="{ 'min-width': '300px' }">
        <div class="row" *ngFor="let field of secondaryFields">
          <filters-dynamic-field
            [field]="field"
            (openSelectField)="onOpen(field)"
            (searchSelectField)="onSearch(field, $event)"
          ></filters-dynamic-field>
        </div>
      </div>
    </div>
  </div>
</div>
