.filter {
  display: flex;
  align-items: flex-end;
}

.col {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  &_big {
    width: 500px;
  }

  &_middle {
    width: 150px;
  }
}

.row {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
