html {
  height: 100%;
}

a {
  text-decoration: none;
  color: $blue;
  transition: .2s color ease-out 0s;

  &:hover {
    color: $blueDark;
  }
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $roboto;
  font-size: 16px;
  font-weight: 400;
  color: $text;
  background-color: $bgGrey;
}
