.button {
  display: inline-block;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: $blue;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  transition: .2s ease-out 0s;
  transition-property: background-color;
  will-change: background-color;
  user-select: none;

  &:hover {
    background-color: $blueDark;
  }

  &_small {
    padding: 7px 10px;
    min-width: 80px;
  }
}
