label {
  margin-bottom: 6px;
  display: block;
  font-size: 15px;
}

.input {
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
  height: 32px;
  background-color: #fff;
  border: 1px solid $border;
  border-radius: 4px;
}
