.ng-select {
  .ng-select-container {
    min-height: 32px;
    border: 1px solid $border;
  }

  &.ng-select-opened > .ng-select-container {
    border-color: $border;
  }

  &.ng-select-single .ng-select-container {
    height: 32px;
  }

  &.ng-select-focused:not(.ng-select-opened):not(.ng-invalid) {
    > .ng-select-container {
      border-color: $blue;
      box-shadow: 0 0 3px $blue;
    }
  }

  &.ng-select-focused:not(.ng-select-opened).ng-invalid > .ng-select-container {
    border-color: $red;
    box-shadow: 0 0 3px $red;
  }

  &.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    border-color: rgba($blue, .8);
    background-color: rgba($blue, .9);

    .ng-value-icon {
      &.left {
        border-color: rgba($blue, .8);
      }

      &:hover {
        background-color: rgba($blue, .8);
      }
    }
  }

  &:not(.ng-pristine).ng-invalid.ng-touched {
    .ng-select-container {
      border-color: $red;
    }
  }
}

.ng-dropdown-panel {
  border-color: $border;

  .ng-dropdown-panel-items {
    .ng-option.ng-option-selected {
      background-color: rgba($blue, .9);
    }

    .ng-option.ng-option-marked {
      background-color: rgba($blue, .8);
    }
  }
}

.ng-select-container .ng-value-container .ng-value {
  position: relative;
  padding: 5px 8px;
  border-color: $border !important;
  background-color: $blue !important;
  border-radius: 10px !important;
  color: #fff;

  .ng-value-icon {
    &.left {
      position: absolute;
      top: 0;
      right: 0;
      border: none !important;
    }

    &:hover {
      background-color: rgba($blue, .8);
    }
  }
}
