$min-width: 1199px;
$desktop-width: 1140px;
$tablet-width: 768px;
$min-mobile-width: 768px;

$text: #222;
$textGray: #8b929b;
$bgDark: #1d1d2c;
$bgGrey: #f8f8fc;
$blue: #347ffb;
$blueDark: #216be3;
$green: #1d9650;
$greenDark: #2c774b;
$red: #e75854;
$redDark: #bc3c2f;
$gray: #edeff2;
$grayLight: #fbfbfb;
$border: #dee2e7;
$shadow: rgba(#000, .19);
