@import '~styles/variables.scss';

:host ::ng-deep {
  .ng-select-container {
    border-color: $border;
  }
  .ng-select-container,
  .ng-option {
    font-size: 0.75rem;
  }

  .ng-select.ng-select-multiple,
  .ng-select-container,
  .ng-value-container,
  .ng-value,
  .ng-value-icon.right {
    border-left: transparent;
  }
}
