<label class="slds-form-element__label" attr.for="{{ labelForId }}">{{
  title
}}</label>
<ng-select
  [items]="items"
  [bindLabel]="bindLabel"
  [bindValue]="bindValue"
  [closeOnSelect]="closeOnSelect"
  [hideSelected]="hideSelected"
  [labelForId]="labelForId"
  [multiple]="multiple"
  [placeholder]="placeholder"
  (change)="change($event)"
  (clear)="clear()"
  (open)="onOpen()"
  (search)="onSearch($event)"
  [formControl]="fc"
  (close)="onClose()"
>
  <ng-template ng-label-tmp let-item="item" let-clear="clear">
    <span class="ng-value-label">
      {{ item[bindLabel] | toString }}
    </span>
    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">
      ×
    </span>
  </ng-template>

  <ng-template
    ng-option-tmp
    let-item="item"
    let-index="index"
    let-search="searchTerm"
  >
    <span>
      {{ item[bindLabel] | toString }}
    </span>
  </ng-template>
</ng-select>
