@import '~styles/variables.scss';

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $border;
}
