<div *ngIf="field && isSelect && field.select; else inputTemplate">
  <form-ng-select
    [items]="
      field.select.isAsync
        ? (field.select.optionsAsync | async | sortBy: 'label')
        : (field.select.options | sortBy: 'label')
    "
    bindLabel="label"
    bindValue="value"
    [multiple]="field.select.isMultiple"
    [closeOnSelect]="field.select.isCloseOnSelect"
    [hideSelected]="field.select.isHideSelected"
    [fc]="field.fc"
    [title]="field.fieldLabel"
    [placeholder]="field.placeholder ? field.placeholder : ''"
    (open)="onOpenSelectField()"
    (search)="onSearchSelectField($event)"
  ></form-ng-select>
</div>

<ng-template #inputTemplate>
  <label [for]="field.fc">{{ field.fieldLabel }}</label>
  <input
    [type]="field.type"
    [formControl]="field.fc"
    [placeholder]="field.placeholder ? field.placeholder : ''"
    class="input"
  />
</ng-template>
