.categories {
  &__item {
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }
  }
}

.category {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
