<ul class="categories">
  <li class="categories__item" *ngFor="let category of categoriesList">
    <a [routerLink]="['/category', category.ID]" class="category">{{
      category.Name.en
    }}</a>
  </li>
</ul>
