<div class="categories">
  <games-categories
    [categoriesList]="categoriesList$ | async"
  ></games-categories>
</div>
<div class="filter">
  <games-list-filter
    [filterFields]="filterFields"
    [filterForm]="filterForm"
    [sortControls]="sortControls"
    (searchUpdate)="gamesListUpdate($event)"
  ></games-list-filter>
</div>
<div class="list">
  <games-list
    [gamesList]="gamesList$ | async | sortBy: ['Name', 'en']"
    [merchantsList]="merchantsList$ | async"
    [currentPage]="currentPage$ | async"
    [searchGamesList]="searchGamesList"
  ></games-list>
</div>
